div {
    width: 270px;
    height: 600px;
    background-color: aqua;
    margin: auto;
    overflow: auto;
}

button {
    color: gray;
}

a:link, a:visited {
    color: gray;
    text-align: center;
    text-decoration: none;
}

form {
    
}