{% extends 'master.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/chatbot.css' %}">
{% endblock %}

{% block content %}
<h2>Chat with {{ mentor_name }}</h2>

<div class="chat-container">
    {% for role, field, message in chat_history %}
        {% if role == 'User' %}
        <div><strong>{{ role }}:</strong> {{ message|linebreaksbr }}</div>
        {% else %}
        <div><strong>{{ role }} ({{ field }}):</strong> {{ message|linebreaksbr }}</div>
        {% endif %}
    {% endfor %}
</div>

<form class="send-btn" method="POST" action="{% url 'chatbot' mentor_name=mentor_name work_field=work_field %}">
    {% csrf_token %}
    <input type="text" name="user_message" placeholder="Type your message here..." autofocus>
    <button type="submit">Send</button>
</form>
<form class="chatend-btn" action="{% url 'end_chat_session' %}" method="post">
    {% csrf_token %}
    <button type="submit">End Chat Session</button>
</form>
{% endblock %}