@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-regular.ttf') format("truetype");
}

@font-face {
    font-family: 'PTSans';
    src: url('../fonts/PTSans-regular.ttf') format("truetype");
}

@font-face {
    font-family: 'MPLUSRounded1c';
    src: url('../fonts/MPLUSRounded1c-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'MPLUSRounded1c-ExtraBold';
    src: url('../fonts/MPLUSRounded1c-ExtraBold.ttf') format("truetype");
}

html {
    font-family: 'roboto', sans-serif;
    background-color: gray;
}

.container {
    width: 400px;
    height: 800px;
    background-color: #EEEEEE;
    margin: auto;
    position: relative;
}

.content {
    padding-top: 10px;
    margin-left: 25px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 80px;
    background-color: white;
    position: absolute;
    /* Position nav absolutely within the div */
    bottom: 0;
    /* Anchor nav to the bottom */
    left: 0;
    /* Align nav to the left edge */
    right: 0;
    /* Align nav to the right edge */
}