h1 {
    font-size: 30px;
}

h2 {
    font-size: 15px;
}

.searchbar-container {
    flex-direction: row;
    height: 40px;
    input {
        width: 180px;
        padding: 6px;
        border: none;
        font-size: 12px;
        margin-right: 10px;
    }
    text {
        background-color: gray;
        font-size: 12px;
    }
}

.sub-heading {
    
    color: gray;
}
.meeting {
    
}